@model IEnumerable<Ecom_Project.Models.OrderDetail>

@{
    ViewData["Title"] = "OrderDetails";
}

<h1>OrderDetails</h1>

<p style="background-color:yellow;text-align:center;">
    <strong>Order Placed!!! Your current Order Id is : @ViewBag.orderId</strong>
</p>

<h3>Previous Order History</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.OrderDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Order.OrderId == ViewBag.orderId)
            {
                <tr style="background-color:aquamarine;">
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.unitPrice)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Order.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Order.OrderDate)
                    </td>

                </tr>
            }
            else
            {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unitPrice)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Order.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.OrderDate)
        </td>

    </tr>
            }
        }
    </tbody>
</table>
