@model IEnumerable<Ecom_Project.Models.Item>

@{
    ViewData["Title"] = "Index";
}
<h1>Admin</h1>
<h4>
    <a asp-action="Create">Add New Ad</a> |
    <a asp-action="Create" asp-controller="AddCategories">Add New Category</a> |
    <a asp-action="Create" asp-controller="AddSellers">Add New Seller</a> |
    <a asp-action="AllOrders">View All Orders</a>

</h4>
<h3>All Posts</h3>
<table class="table">
    <thead>
        <tr>

            @*<th>
            @Html.DisplayNameFor(model => model.itemURl)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category.categoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.seller.sellerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            @*<td>
            @Html.DisplayFor(modelItem => item.itemURl)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category.categoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.seller.sellerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
